html, body{
	margin:0;
	padding:0;
	height:100%;
}
#background{
	background-color: yellow;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}
#header{
	background-color: #7D0000;
	color: white;
	text-align: center;
}
#umdBanner{
	padding: 10px;
	width: 100%;
	height: 200;
	background-color: #8a0000;
	
}
#verticalLine{
	width: 50%;
	height: 100%;
	border-left: 1px thick solid;
}
#scheduleContainer{
	width: 50%;
    height: 100%;
    background-color: white;
    border: solid 1px black;
}