body, form, ul, li, p, h1, h2, h3, h4, h5
{
  padding: 0;
}

body{
  font-size: .75em; /* Sets base font size to 16px */ 
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  background: #000 url(../images/body-bg-repeat.png) top left repeat-x;
}

input, select, textarea, th, td {
  font-size: .75em;
}

html, table { 
  font-size: 100%; /* IE hack */ 
}

img {
  border: none;
}

.displayed{
  background-color:green;
}

#treeDiv{
  overflow: auto;
  width:270px;
  height:700px;
}

#treeHeader{
  font-size: 12pt;
  color: red;
  text-align: center;
}

/**
 *Tree stuff below here
 */
p{
  font-size: 1em;
  margin: 0 0 1em 0;
}
  
/* CSS Tree menu styles */
ol.tree{
  padding: 0 0 0 10px;
  white-space: nowrap;
  display: inline-block;
}

li { 
  position: relative;
  list-style: none;
}

li label{
  background: url(../images/folder-horizontal.png) 13px 0px no-repeat;
  cursor: pointer;
  display: block;
  padding-left: 33px;
}

li input{
  position: absolute;
  left: 0;
  margin-left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 1em;
  width: 1em;
  top: 0;
}

li input + ol{
  background: url(../images/toggle-small-expand.png) 0px 0px no-repeat;
  margin: -1.25em 0 .5em -4px;
  height: 1em;
}

li input + ol > li {
  display: none;
}

li input:checked + ol{
  background: url(../images/toggle-small.png) 0px 0px no-repeat;
  margin: -1.25em 0 0 -4px;
  padding: 1.563em 0 0 20px;
  height: auto;
}

li input:checked + ol > li:last-child { 
  margin: 0 0 0.063em; /* 1px */ 
}

li input:checked + ol > li {
  display: block;
  margin: 0 0 0.125em;  /* 2px */
}

/**
 * Wrapper stuff below here
 */

/**
 * Main container
 */
#main {
  border-radius: 15px;
  min-height: 300px;
  background-color: #FFF;
	width:970px;
  margin: auto; 
  padding: 10px;
}

/**
 * Responsive
 */
@media all and (min-width: 768px) {
  #wrapper {
    margin: 0px auto;
    width: 728px;
  }

  #header {
    margin-right: 55px;
    margin-left: 60px;
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-bottom: 50px;
  }

  #header #search { display: block; }
  #header #search-link { display: none; }

}

@media all and (min-width: 980px) {
  #wrapper {
    width: 940px;
  }
}

@media all and (min-width: 1134px) {
  #wrapper {
    width: 1094px;
  }
}
/*everything in main*/
.day > div {
  font-weight: bold;
  font-size: 12pt;
  display: inline-block;
  display: -moz-inline-box;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  width: 14.5%;
  text-align: center;
}